<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %X{sessionId} %d{yyyy-MM-dd HH:mm:ss} %X{username} :  %msg%n" />
		</Console>
		<Console name="console_aspect" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="info" additivity="false">
			<AppenderRef ref="console" />
		</Root>
		<Logger name="ASPECT_LOGGER" additivity="false">
			<AppenderRef ref="console_aspect" />
		</Logger>
	</Loggers>
</Configuration>